<!doctype html>
<html class="h-full w-full">
   <head>
      <title><%= name %></title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.tailwindcss.com"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="stylesheet" href="https://api.fontshare.com/v2/css?f[]=general-sans@500,300,600,400,700&display=swap">
      <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/graphik-trial">
      <style>
         body {
            font-family: 'General Sans', sans-serif;
         }
         .collapsed span, .collapsed p, .collapsed h1 { display: none; }
         .collapsed .nav-link svg { margin-right: 0; }
         .collapsed { width: 4% !important; }
         .colcont { padding-left: 4.2rem; }
         .transition { transition: all 0.3s ease-in-out; }
         .sidebar nav ul { position: relative; }
         #active-background {
            position: absolute;
            left: 1rem;
            width: calc(100% - 2rem);
            height: 2.25rem;
            background-color: #171717;
            border-radius: 0.5rem;
            transition: transform 0.2s ease-in-out;
            z-index: 0;
         }
         .nav-link { position: relative; z-index: 1; }
         .nav-link.active { color: white; font-weight: 500; }
      </style>
   </head>
   <body class="bg-[#141414] h-full w-full">
      <script>
         document.addEventListener('DOMContentLoaded', () => {
             const sidebar = document.querySelector('.sidebar');
             const toggleButton = document.getElementById('sidebar-toggle');
             const colcont = document.getElementById('colcont');

             function setCookie(name, value, days) {
                 const date = new Date();
                 date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                 document.cookie = name + "=" + value + ";expires=" + date.toUTCString() + ";path=/";
             }

             function getCookie(name) {
                 return document.cookie.split('; ').find(row => row.startsWith(name + "="))?.split('=')[1];
             }

             if (getCookie('sidebar-collapsed') === 'true') {
                 sidebar.classList.add('collapsed');
                 colcont.classList.add('colcont');
             } 

             toggleButton.addEventListener('click', () => {
                 const isCollapsed = sidebar.classList.toggle('collapsed');
                 colcont.classList.toggle('colcont');
                 setCookie('sidebar-collapsed', isCollapsed, 7);
             });
         });
      </script>
      <script>
         document.addEventListener('DOMContentLoaded', () => {
             const loader = document.getElementById('loader');
             const content = document.getElementById('content');

             setTimeout(() => {
                 loader.classList.add('opacity-0');
                 content.classList.remove('opacity-0');
                 setTimeout(() => loader.style.display = 'none', 150);
             }, 300);
         });
      </script>
      <div class="sidebar transition hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-56 lg:flex-col">
         <div class="flex grow flex-col gap-y-5 overflow-hidden bg-[#101010] border-r border-white/5">
            <nav class="flex flex-1 flex-col">
               <div class="pl-6 pt-5 pb-4 flex">
                  <a href="/" class="flex">
                     <% if (logo) { %>
                     <img src="../assets/logo.png" class="h-7 w-7 rounded mr-3 inline-flex">
                     <% } %>
                     <h1 class="text-white font-medium tracking-tight text-lg"><%= name %></h1>
                  </a>
               </div>
               <ul role="list" class="flex flex-1 flex-col gap-y-7">
                  <li>
                     <ul role="list" class="-mx-2 space-y-1">
                        <div id="active-background"></div>
                        <li>
                           <a href="/admin/overview" class="nav-link text-neutral-400 px-4 mx-4 flex gap-x-3 py-1.5 rounded-xl text-sm font-normal">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5">
                                 <path stroke="currentColor" stroke-width="1.5" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
                              </svg>                                                              
                              Go Back
                           </a>
                        </li>
                        <li>
                           <a href="/admin/plugins" class="nav-link text-neutral-400 px-4 mx-4 flex gap-x-3 py-1.5 rounded-xl text-sm font-normal">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="w-5 h-5">
                                 <path fill="currentColor" d="M4.25 2A2.25 2.25 0 0 0 2 4.25v2.5A2.25 2.25 0 0 0 4.25 9h2.5A2.25 2.25 0 0 0 9 6.75v-2.5A2.25 2.25 0 0 0 6.75 2h-2.5Zm0 9A2.25 2.25 0 0 0 2 13.25v2.5A2.25 2.25 0 0 0 4.25 18h2.5A2.25 2.25 0 0 0 9 15.75v-2.5A2.25 2.25 0 0 0 6.75 11h-2.5Z" />
                              </svg>                                               
                              Overview
                           </a>
                        </li>
                        <p class="pl-8 text-neutral-400 text-xs font-semibold pt-6 pb-2">Plugins</p>
                        <% Object.keys(pluginsidebar).forEach(plugin => { %>
                        <li>
                           <a href="<%= pluginsidebar[plugin] %>" class="nav-link text-neutral-400 px-4 mx-4 flex gap-x-3 py-1.5 rounded-xl text-sm font-normal">
                              <%= plugin %>
                           </a>
                        </li>
                        <% }) %>
                     </ul>
                  </li>
                  <li class="mt-auto border-t border-white/5">
                     <a href="/auth/logout" class="group -mx-2 flex gap-x-3 pl-6 py-4 text-sm font-medium text-neutral-500 transition hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5">
                           <path stroke="currentColor" stroke-width="1.5" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                        </svg>
                        <span>Logout</span>
                     </a>
                  </li>
               </ul>
            </nav>
         </div>
      </div>
   </body>
</html>
